<%- include('partials/head') %>

</head>

<body>
  <%- include('partials/navbar') %>
  <header>
    <h1>home registered successfully</h1>
  </header>
  <main>
    <a href="/">Go to Home</a>
  </main>
</body>

</html>