<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="output.css"/>
</head>

<body>
  <nav class="flex gap-6 bg-red-500 p-4 text-white text-sm font-semibold">
    <a href="/">Go to Home</a>
    <a href="/host/add-home">Add Home</a>
  </nav>
  <header class="background-white p-8 text-center  text-3xl bg-white-400 w-fit flex justify-center items-center mx-auto mt-8 rounded-lg shadow-[-1px_7px_4px_0px_rgba(0,0,0,0.3)]">
    <h1 class="text-black-500 font-bold font-sans">Welcome to airbnb</h1>
  </header>

</body>

</html>